.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust gap as needed */
}

.image-container {
  position: relative;
}

.image-input-wrapper {
  width: 125px;
  height: 125px;
  background-size: cover;
  background-position: center;
}

.btn-remove-image {
  position: absolute;
  top: 0;
  right: 0;
}
